@import 'tailwindcss';

body {
    /* background-color: #0b0917; */
    background-color: #0a0523;
    color: #f5f6ff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif;
}