@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

body {
    /* background-color: #fefaf5; */
    background-color: #fffcf8;
    color: #18181b;
    font-family: inter;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif; */
}

html.dark body {
    /* background-color: #0b0917; */
    background-color: #0a0523;
    color: #f5f6ff;
}

/* h1, h2, h3, h4, h5, h6 {
    font-family: montserrat;
} */